{% include 'header.html' %}
<center>
    <br>
    <hr>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">{{books_id.title}}</h3>
    <img src="{{books_id.image.url}}" alt="" width="400" height="300">
    <h6 class="card-subtitle mb-2 text-muted">Количество страниц: {{books_id.quantity}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Цена: {{books_id.price}} сом</h6>
    <p class="card-text">Описание: {{books_id.description}}</p>
    <p class="card-link">Жанр: {{books_id.genre}}</p>
    <a href="{{books_id.link}}">--> Приобрести книгу <--</a>
    <p>Дата публикации: {{books_id.created_dates}}</p>
    <p>Дата обновления: {{books_id.updated_dates}}</p>
    <button type="button" class="btn btn-dark"><a href="/books/{{books_id.id}}/update" class="text-reset" >Обновить данные</a></button>
    <button type="button" class="btn btn-dark"><a href="/books/{{books_id.id}}/delete" class="text-reset">Удалить книгу</a></button>
  </div>
</div>
    <br>
    <hr>
</center>

{% include 'footer.html' %}